In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [18]:
data = gpd.read_file('../public/ukMap/subunits.json')

In [19]:
data.head()

,ABBREV,ABBREV_LEN,ADM0_A3,ADM0_A3_IS,ADM0_A3_UN,ADM0_A3_US,ADM0_A3_WB,ADM0_DIF,ADMIN,BRK_A3,...,UN_A3,WB_A2,WB_A3,WIKIPEDIA,WOE_ID,WOE_ID_EH,WOE_NOTE,featurecla,geometry,scalerank
0,Eng.,4,GBR,-99,-99,GBR,-99,1,United Kingdom,ENG,...,-099,-99,-99,-99,24554868,24554868,Exact WOE match as child of country (called co...,Admin-0 map subunit,(POLYGON ((-6.287505662999905 49.9140078800000...,0
1,Ire.,4,IRL,IRL,-99,IRL,-99,0,Ireland,IRL,...,372,IE,IRL,-99,23424803,23424803,Exact WOE match as country,Admin-0 map subunit,(POLYGON ((-9.824086066999939 51.6389020850000...,0
2,N.Ire.,6,GBR,-99,-99,GBR,-99,1,United Kingdom,NIR,...,-099,-99,-99,-99,20070563,20070563,Exact WOE match as child of country (called co...,Admin-0 map subunit,(POLYGON ((-6.440012173999918 55.2360293640000...,0
3,Scot.,5,GBR,-99,-99,GBR,-99,1,United Kingdom,SCT,...,-099,-99,-99,-99,12578048,12578048,Exact WOE match as child of country (called co...,Admin-0 map subunit,(POLYGON ((-5.11778723899991 55.43976471600014...,0
4,Wales,5,GBR,-99,-99,GBR,-99,1,United Kingdom,WLS,...,-099,-99,-99,-99,12578049,12578049,Exact WOE match as child of country (called co...,Admin-0 map subunit,(POLYGON ((-4.655669725999871 53.3197695980000...,0

In [20]:
set(data.BRK_A3)

{'ENG', 'IRL', 'NIR', 'SCT', 'WLS'}

In [23]:
data.geometry

0    (POLYGON ((-6.287505662999905 49.9140078800000...
1    (POLYGON ((-9.824086066999939 51.6389020850000...
2    (POLYGON ((-6.440012173999918 55.2360293640000...
3    (POLYGON ((-5.11778723899991 55.43976471600014...
4    (POLYGON ((-4.655669725999871 53.3197695980000...
Name: geometry, dtype: object

In [ ]:
# I don't think we need anything but BRK_A3 ({'ENG', 'IRL', 'NIR', 'SCT', 'WLS'})
# and the geometry?

In [29]:
data.POP_EST

0    53013000
1     4203200
2     1810900
3     5254800
4           0
Name: POP_EST, dtype: int64

In [38]:
data.BRK_NAME

0       England
1       Ireland
2    N. Ireland
3      Scotland
4         Wales
Name: BRK_NAME, dtype: object

In [47]:
export = data[['BRK_A3', 'geometry', 'BRK_NAME']]

In [53]:
export.to_file('../public/ukMap.json', driver='GeoJSON')

In [52]:
import fiona; fiona.supported_drivers

{'ARCGEN': 'r',
 'AeronavFAA': 'r',
 'BNA': 'raw',
 'DGN': 'raw',
 'DXF': 'raw',
 'ESRI Shapefile': 'raw',
 'GPKG': 'rw',
 'GPSTrackMaker': 'raw',
 'GPX': 'raw',
 'GeoJSON': 'rw',
 'Idrisi': 'r',
 'MapInfo File': 'raw',
 'OpenFileGDB': 'r',
 'PCIDSK': 'r',
 'SEGY': 'r',
 'SUA': 'r'}